<% if user_signed_in? %>
	<div class="span6 offset1">
		<h2> Welcome, <%= current_user.name %> </h2>
	<%= link_to  "Create New Library", new_library_path, class: "btn" %>
	</div>
<% end %>

<ul class="thumbnails">
	<% @libraries.each do |l| %>
	 	<li class="span4">
			<%= render partial: 'shared/library_shield', locals: { :library => l } %>
		</li>
	<% end %>
</ul>