<h3>Theory behind Kezz</h3>
<p>You can learn things algorithmically or heuristically. Although many folks know a lot about writing but very few people know much about it heuristically. Give kezz a try and see if you can identify and compose better elements of composition.</p>