<div class="row">
  <div class="col-sm-12">
    <h1 class='text-center'> Welcome. </h1>
    <div class='lead'>
      The mission of the Kezz Academy is to offer reading and writing skills training online for free.
    </div>
  </div>
</div>
<br>
<hr>
<br>
<div class="row">
  <h1 class='text-center'>Our Games</h1>
  <br>
  <div class="col-sm-4">
    <h4 class='text-center'><%= link_to "Kezz Readings", libraries_path %></h4>
    <dd>
      Where you unscramble samples of the best fiction and scientifc writing
    </dd>
  </div>
  <div class="col-sm-4">
    <h4 class='text-center'><%= link_to "Winged Words", new_poem_path %></h4>
    <dd>Where its easy and fun to write and share great poetry.</dd>
  </div>
  <div class="col-sm-4">
    <h4 class='text-center'><a href="#">The Finnegan Project</a></h4>
    <dd>Where you can work together with everyone on the internet on one giant collaborative story.</dd>
  </div>
</div>
<br>
<hr>
<br>
<div class="row">
  <h1 class='text-center'>Core Values</h1>
  <br>
  <div class="col-sm-4">
    <h4 class='text-center'>Above All Else MOTIVATE Students</h4>
    <dd>
      We want to create experiences that engage everyone, are tactile, challenging, remarkable, and fun. 
    </dd>
  </div>
  <div class="col-sm-4">
    <h4 class='text-center'>Create Heuristic Learning Experiences</h4>
    <dd>We're not so interested in technology that can help you memorize things. At the Kezz Academy we try to create experiences that instill a 'gut feeling' for the knowledge you've learned.</dd>
  </div>
  <div class="col-sm-4">
    <h4 class='text-center'>Everything Free and Automatic</h4>
    <dd>Power to the teachers who are shoulder to shoulder and face to face with students. We want to make their jobs as easy and automatic as possible so they can focus on growing students.</dd>
  </div>
</div>
