body {
	font-size: 16px;
line-height: 24px;
}

.navbar .nav {
	float: right;
}

.pitch {
	height:200px;
}

.row {
	clear:both;
}

footer {
	float: left;
clear: both;
margin-top: 60px;
margin-bottom: 40px;
text-align: center;
width:100%;
}

.bar {
	width: 16px;
background: lightgrey;
height: 24px;
float:left;
margin-left:2px;
margin-top: 2px;
border-radius: 4px;
}

textarea.summary {
	height: 70px;
}

.checkbox {
	padding-left:0;
}
.checkbox.inline {
	margin-right: 15px;
	font-size:20px;
}

.thumbnail {
	img {
		margin: 0 auto;
		max-height: 200px;
	}
}