body {
	font-size: 16px;
line-height: 24px;
}

footer {
	float: left;
clear: both;
margin-top: 60px;
margin-bottom: 40px;
text-align: center;
width:100%;
}

.bar {
	width: 16px;
background: lightgrey;
height: 24px;
float:left;
margin-left:2px;
margin-top: 2px;
}